
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin anasayfaası</h2>
<div class="container-fluid">
    <!-- Statistics panels -->
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                        <div class="stat-info pull-left"><h4><small>Aktif kullanıcılar</small><br>56</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                        <div class="stat-info pull-left"><h4><small>Pasif kullanıcılar</small><br>56</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-shade pull-left"><i class="typcn typcn-gift"></i></div>
                        <div class="stat-info pull-left"><h4><small>Pasif yorumlar</small><br>56</h4></div>
                        <span class="typcn typcn-plus pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                        <div class="stat-info pull-left"><h4><small>Aktif yorumlar</small><br>56</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-red pull-left"><i class="typcn typcn-clipboard"></i></div>
                        <div class="stat-info pull-left"><h4><small>Toplam haber sayısı</small><br>56</h4></div>
                        <span class="typcn typcn-arrow-down pull-right text-red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-green pull-left"><i class="typcn typcn-chart-bar"></i></div>
                        <div class="stat-info pull-left"><h4><small>Toplam okunma</small><br>56</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Statistics panels -->
</div>
