@model RentACar.Areas.admin.Models.ViewModels.AdminDashboardViewModel
@{
    ViewBag.Title = "Admin Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin anasayfaası</h2>
<div class="container-fluid">
    <!-- Statistics panels -->
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                        <div class="stat-info pull-left"><h4><small>Müsait Araçlar</small><br>@Model.MusaitAracSayisi</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                        <div class="stat-info pull-left"><h4><small>Dolu Araçlar</small><br>@Model.DoluAracSayisi</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-shade pull-left"><i class="typcn typcn-gift"></i></div>
                        <div class="stat-info pull-left"><h4><small>Yeni Rezervasyonlar</small><br>@Model.YeniRezervasyonSayi</h4></div>
                        <span class="typcn typcn-plus pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-stat">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                        <div class="stat-info pull-left"><h4><small>Toplam kiralama bugüne kadar</small><br>@Model.ToplamKiralamaBuguneKadar</h4></div>
                        <span class="typcn typcn-arrow-up pull-right text-green"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Statistics panels -->
</div>
