
@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="r-gallery-part" class="r-gallery-part">
    <div class="container clearfix">
        <ul>
            <li>
                <a href="~/assets/images/gallery-img01.jpg" data-rel="lightcase:myCollection">
                    <img src="~/assets/images/gallery-img01.jpg" class="d-block img-fluid" alt="">
                    <div class="gallery-hover">
                        <div class="gallery-text">
                            <span>Registered 2016</span>
                            <h5><b>Volkswagen</b> GTR</h5>
                            <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="~/assets/images/gallery-img02.jpg" data-rel="lightcase:myCollection">
                    <img src="~/assets/images/gallery-img02.jpg" class="d-block img-fluid" alt="">
                    <div class="gallery-hover">
                        <div class="gallery-text">
                            <span>Registered 2016</span>
                            <h5><b>Volkswagen</b> GTR</h5>
                            <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="~/assets/images/gallery-img03.jpg" data-rel="lightcase:myCollection">
                    <img src="~/assets/images/gallery-img03.jpg" class="d-block img-fluid" alt="">
                    <div class="gallery-hover">
                        <div class="gallery-text">
                            <span>Registered 2016</span>
                            <h5><b>Volkswagen</b> GTR</h5>
                            <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="~/assets/images/gallery-img04.jpg" data-rel="lightcase:myCollection">
                    <img src="~/assets/images/gallery-img04.jpg" class="d-block img-fluid" alt="">
                    <div class="gallery-hover">
                        <div class="gallery-text">
                            <span>Registered 2016</span>
                            <h5><b>Volkswagen</b> GTR</h5>
                            <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="~/assets/images/gallery-img05.jpg" data-rel="lightcase:myCollection">
                    <img src="~/assets/images/gallery-img05.jpg" class="d-block img-fluid" alt="">
                    <div class="gallery-hover">
                        <div class="gallery-text">
                            <span>Registered 2016</span>
                            <h5><b>Volkswagen</b> GTR</h5>
                            <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="~/assets/images/gallery-img06.jpg" data-rel="lightcase:myCollection">
                    <img src="~/assets/images/gallery-img06.jpg" class="d-block img-fluid" alt="">
                    <div class="gallery-hover">
                        <div class="gallery-text">
                            <span>Registered 2016</span>
                            <h5><b>Volkswagen</b> GTR</h5>
                            <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="~/assets/images/gallery-img07.jpg" data-rel="lightcase:myCollection">
                    <img src="~/assets/images/gallery-img07.jpg" class="d-block img-fluid" alt="">
                    <div class="gallery-hover">
                        <div class="gallery-text">
                            <span>Registered 2016</span>
                            <h5><b>Volkswagen</b> GTR</h5>
                            <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="~/assets/images/gallery-img08.jpg" data-rel="lightcase:myCollection">
                    <img src="~/assets/images/gallery-img08.jpg" class="d-block img-fluid" alt="">
                    <div class="gallery-hover">
                        <div class="gallery-text">
                            <span>Registered 2016</span>
                            <h5><b>Volkswagen</b> GTR</h5>
                            <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="~/assets/images/gallery-img09.jpg" data-rel="lightcase:myCollection">
                    <img src="~/assets/images/gallery-img09.jpg" class="d-block img-fluid" alt="">
                    <div class="gallery-hover">
                        <div class="gallery-text">
                            <span>Registered 2016</span>
                            <h5><b>Volkswagen</b> GTR</h5>
                            <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>