
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="r-welcome-msg" class="r-welcome-msg-part">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="r-welcome-msg">
                    <span>120+ CARS TYPE &amp; BRANDS</span>
                    Welcome to <b>Royal Cars.</b>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="r-welcome-text">
                    We know the difference is in the details and that’s why our car rental services, in the tourism and business industry, stand out for their quality and good taste.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="r-video-banner">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="assets/images/video-banner.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div id="r-video-msg" class="r-video-msg-part">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="r-welcome-msg">
                    We know the difference is in the details and that’s why our car rental services, in the tourism and business industry, stand out for their quality and good taste Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="r-video-right">
                    <em>We know the difference is in the details and that’s why our car rental services, in the tourism and business industry, stand out for their quality and good taste.</em>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="r-insurance-part" class="r-insurance-part">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="r-insurance-box">
                    <div class="icon">
                        <img src="assets/images/offer-icon-5.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-head">Million Staffs</div>
                    Our staff can picking you anywhere anytime
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="r-insurance-box">
                    <div class="icon">
                        <img src="assets/images/offer-icon-6.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-head">Free Insurance</div>
                    Rent a car 3 days &amp; get free insurance
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="r-insurance-box">
                    <div class="icon">
                        <img src="assets/images/offer-icon-7.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-head">Trusted Rent</div>
                    We working since 1980 with 4.000 customers
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="r-insurance-box">
                    <div class="icon">
                        <img src="assets/images/offer-icon-8.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-head">All Type Cars</div>
                    We have all brand &amp; type cars in our garage
                </div>
            </div>
        </div>
        <div class="r-insurance-btn-part">
            <a href="#" title="" class="btn-primary">VIEW ALL VEHICLES</a>
            <a href="#" title="" class="btn-default">RESERVED CAR</a>
        </div>
    </div>
</div>
<div class="r-counter-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="r-counter-box">
                    <div class="r-counter-icon">
                        <img src="assets/images/icon-happy-customer.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-counts">
                        1.172.700
                    </div>
                    <span class="r-count-title"> HAPPY CUSTOMERS </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="r-counter-box">
                    <div class="r-counter-icon">
                        <img src="assets/images/icon-cars-count.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-counts">
                        2.450
                    </div>
                    <span class="r-count-title"> CARS IN GARAGE </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="r-counter-box">
                    <div class="r-counter-icon">
                        <img src="assets/images/icon-total-km.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-counts">
                        1.211.100
                    </div>
                    <span class="r-count-title"> TOTAL KILOMETER/MIL </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="r-counter-box">
                    <div class="r-counter-icon">
                        <img src="assets/images/icon-car-center.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-counts">
                        47.250
                    </div>
                    <span class="r-count-title"> CAR CENTER SOLUTIONS </span>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="r-get-in-touch">
    <div class="r-get-in-touch">
        <div class="container">
            <div class="r-get-header">
                <span>CONTACT US NOW</span>
                <h2>Keep <b>In Touch.</b></h2>
            </div>
            <div class="r-get-form">
                <form action="#">
                    <div class="clearfix">
                        <div class="form-group"><input type="text" placeholder="User name"></div>
                        <div class="form-group"><input type="email" placeholder="Email Address"></div>
                    </div>
                    <div class="form-group"><input type="email" placeholder="Title Message"></div>
                    <div class="form-group">
                        <textarea placeholder="Message"></textarea>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-full">SEND MESSAGE NOW</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
