
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="r-welcome-msg" class="r-welcome-msg-part">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="r-welcome-msg">
                    <span>120'den fazla araba tipi ve marka</span>
                    <b>ESH Kiralamaya</b> Hoşgediniz.
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="r-welcome-text">
                    Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden turizm ve iş sektöründeki araç kiralama hizmetlerimizin kalitesi ve iyi tadı için neden öne çıkıyor.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="r-video-banner">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="~/assets/images/video-banner.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div id="r-video-msg" class="r-video-msg-part">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="r-welcome-msg">
                    Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden turizm ve iş sektöründeki araç kiralama hizmetlerimizin kalitesi ve iyi tadı için neden öne çıkıyor.Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden turizm ve iş sektöründeki araç kiralama hizmetlerimizin kalitesi ve iyi tadı için neden öne çıkıyor.
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="r-video-right">
                    <em>Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden turizm ve iş sektöründeki araç kiralama hizmetlerimizin kalitesi ve iyi tadı için neden öne çıkıyor.</em>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="r-counter-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="r-counter-box">
                    <div class="r-counter-icon">
                        <img src="assets/images/icon-happy-customer.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-counts">
                        1.172.700
                    </div>
                    <span class="r-count-title"> MUTLU MÜŞTERİ </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="r-counter-box">
                    <div class="r-counter-icon">
                        <img src="assets/images/icon-cars-count.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-counts">
                        2.450
                    </div>
                    <span class="r-count-title"> GARAJDA ARABA </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="r-counter-box">
                    <div class="r-counter-icon">
                        <img src="assets/images/icon-total-km.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-counts">
                        1.211.100
                    </div>
                    <span class="r-count-title"> TOPLAM KİLOMETRE </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="r-counter-box">
                    <div class="r-counter-icon">
                        <img src="assets/images/icon-car-center.png" alt="" class="img-fluid">
                    </div>
                    <div class="r-counts">
                        47.250
                    </div>
                    <span class="r-count-title"> ARAÇ MERKEZİ ÇÖZÜMLERİ </span>
                </div>
            </div>
        </div>
    </div>
</div>
