
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home Index</h2>
<div class="ct-u-sectionGrayLighter ct-shadow ct-shadow--type1 ct-u-sectionBorder">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="ct-numberBox ct-numberBox--right ct-u-paddingBoth50">
                    <h2 class="ct-numberBox-number"><b>21</b></h2>
                    <h6 class="ct-numberBox-header ct-u-hr ct-u-hr--right">Sports Cars</h6>
                    <p class="ct-numberBox-content">We have a large base of satisfied customers, no one can give as much as we.</p>
                </div>
            </div>
            <div class="col-sm-4 ct-u-sectionGray">
                <div class="ct-numberBox ct-numberBox--center ct-u-paddingBoth50">
                    <h2 class="ct-numberBox-number"><b>37</b></h2>
                    <h6 class="ct-numberBox-header ct-u-hr ct-u-hr--center">Classic sedans</h6>
                    <p class="ct-numberBox-content">We have a large base of satisfied customers, no one can give as much as we.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-numberBox ct-u-paddingBoth50">
                    <h2 class="ct-numberBox-number"><b>15</b></h2>
                    <h6 class="ct-numberBox-header ct-u-hr ct-u-hr--left">Limousines</h6>
                    <p class="ct-numberBox-content">We have a large base of satisfied customers, no one can give as much as we.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ct-u-marginTop90 ct-u-paddingBottom10">
    <div class="container">

        <div class="ct-sectionHeader ct-u-marginBottom70">
            <h2 class="ct-sectionHeader-title"><small>The Rentica <span>Company</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>100% satisfaction or the money back policy is what we believe in and we do mean business.</p>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-wrench"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Our cars work great</h6>
                        <p>With 30 years car hire experience in Europe and 60 years worldwide we allways remember that our top priority is to provide the best quality car rental service at an affordable price.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-thumbs-o-up"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Outstanding reviews</h6>
                        <p>Just look at out testimonials section. It is full of happy and fully satisfied customers that cannot wait to use our services again. It is just a pleasure and stress-free experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-car"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Take it for a spin</h6>
                        <p>Come to our car rental point and ask for a free ride to check if the car you were thinking about suits your needs. In no time you will be given a chance to drive and try if the trunk accomodates your luggage.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-star"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Five star service</h6>
                        <p>Our company is rated with 5 stars which guarantees that you will receive the best quality possible, and the satisfaction is guaranteed or the money back policy works perfect.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-money"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Discounts for groups</h6>
                        <p>If you are planning to rent more than one car, you are sure to receive a substancial discount for every next car. So far there hac never been a client that would leave us without "thank you so much".</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-flag"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Let's go have some fun</h6>
                        <p>Book one of our car rental deals, and you’ll be able to say bye-bye to the of public transportation. With unlimited mileage and special offers you can easily find cheap rental cars last minute.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="ct-mediaSection ct-mediaSection--desktop ct-sectionOverflow ct-sectionOverflow--imageLeft" data-height="450" data-type="color" data-bg-color="#f8f8f8">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="ct-sectionOverflow-image">
                        <img src="assets/images/demo-content/cars/sectionImage-01.jpg" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ct-sectionOverflow-content ct-u-textLeft ct-u-marginTop130">
                        <h6 class="ct-fw-bold text-uppercase ct-u-hr ct-u-hr--left">Everything from sports cars to limousines</h6>
                        <p>On this very special day you will have the pleasure to witness the best racing cars in the world. We can guarantee you as our client to have the best seats and a complimentary snacks to accompany you while viewing this amazing show. Take your friends with you! The next race is set to be in Monaco so a great chance to soak up the sun too.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ct-mediaSection ct-mediaSection--desktop ct-sectionOverflow ct-sectionOverflow--imageRight" data-height="450" data-type="color" data-bg-color="#f8f8f8">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <div class="ct-sectionOverflow-image">
                        <img src="assets/images/demo-content/cars/sectionImage-02.jpg" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="ct-sectionOverflow-content ct-u-textRight ct-u-marginTop130">
                        <h6 class="ct-fw-bold text-uppercase ct-u-hr ct-u-hr--right">Everything from sports cars to limousines</h6>
                        <p>This a something that we have been looking forward to for last months. On this very show we will present all the best models that you are free to take for a drive, in case you would like to rent them in the future. So thus this will save you the trouble of testing them first. No pre-booking for test driving is required. Just come and test them.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ct-u-sectionMotive">
    <div class="ct-sectionHeader ct-u-paddingBoth60">
        <h2 class="ct-sectionHeader-title"><small>The amazing <span>team</span></small></h2>
        <div class="ct-sectionHeader-separator">
            <span class="minus"></span>
            <span class="slash">/</span>
            <span class="slash">/</span>
            <span class="minus"></span>
        </div>
        <p>Our staff is dedicated, enthusiastic and always go the extra mile.</p>
    </div>
</section>

<div class="ct-mediaSection ct-mediaSection--desktop" data-height="450" data-type="pattern" data-bg-image="./assets/images/demo-content/cars/bg-03.jpg" data-bg-image-mobile="./assets/images/demo-content/cars/bg-03.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="ct-personBox">
                        <div class="ct-personBox-image"><img src="assets/images/demo-content/cars/person-01.jpg" alt="" /></div>
                        <div class="ct-personBox-content">
                            <h6 class="ct-personBox-header">James Witherspoon <small>the big boss</small></h6>
                            <ul class="ct-socials">
                                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="ct-personBox">
                        <div class="ct-personBox-image"><img src="assets/images/demo-content/cars/person-02.jpg" alt="" /></div>
                        <div class="ct-personBox-content">
                            <h6 class="ct-personBox-header">Jessica Dawson <small>sales manager</small></h6>
                            <ul class="ct-socials">
                                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="ct-personBox">
                        <div class="ct-personBox-image"><img src="assets/images/demo-content/cars/person-03.jpg" alt="" /></div>
                        <div class="ct-personBox-content">
                            <h6 class="ct-personBox-header">Marcel Bennington <small>test drive officer</small></h6>
                            <ul class="ct-socials">
                                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="ct-personBox">
                        <div class="ct-personBox-image"><img src="assets/images/demo-content/cars/person-04.jpg" alt="" /></div>
                        <div class="ct-personBox-content">
                            <h6 class="ct-personBox-header">Jade Marceau <small>support</small></h6>
                            <ul class="ct-socials">
                                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ct-sectionGrayLighter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="ct-u-textRight ct-u-marginTop30 ct-fw-lighter"><small>Ultra <span class="ct-fw-800">comfortable vehicles</span> for ultra small prices</small></h2>
            </div>
            <div class="col-sm-8">
                <p class="ct-u-marginTop40 ct-u-marginBottom70">
                    Thanks to our cars Your vacation will become much calmer. You will not have to worry about transportation, no formalities, tickets. All send to us immediately and you will not have to worry about any formalities. I'll take care of all our highly qualified staff who will take care so that you have a peaceful holiday where you will not have any worries.
                    Order today our boat and take care of your calm on their amazing expeditions full of only positive memories. Remember we are always and everywhere for you.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingBottom50" data-type="pattern" data-height="auto" data-bg-image="./assets/images/demo-content/cars/bg-01.jpg" data-bg-image-mobile="./assets/images/demo-content/cars/bg-01-mobile.jpg">
    <div class="container">
        <div class="ct-sectionHeader ct-u-paddingTop60 ct-u-paddingBottom70">
            <h2 class="ct-sectionHeader-title"><small>Our little <span>Monsters</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>We have it in our garage</p>
        </div>

        <div class="row ct-u-paddingBottom30">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="ct-slick ct-js-slick" data-items="1" data-dots="true">
                    <div class="item"><img src="assets/images/demo-content/cars/slide-01.jpg" alt="" /></div>
                    <div class="item"><img src="assets/images/demo-content/cars/slide-02.jpg" alt="" /></div>
                    <div class="item"><img src="assets/images/demo-content/cars/slide-03.jpg" alt="" /></div>
                </div>
            </div>
        </div>

        <!-- Boxes -->
        <div class="row">
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type2 ct-u-marginBottom100">
                    <div class="h2 ct-iconBox-icon"><small><i class="fa fa-map-marker"></i></small></div>
                    <div class="ct-iconBox-content">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--center">Choose your destination</h6>
                        <p>We're in every country in the world. If you want car in the middle of the jungle, it will be.</p>
                        <a href="about.html" class="btn btn-motive"><span>Read More</span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type2 ct-u-marginBottom100">
                    <div class="h2 ct-iconBox-icon"><small><i class="fa fa-flag"></i></small></div>
                    <div class="ct-iconBox-content">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--center">It's going to get speedy</h6>
                        <p>We can deliver any car in any place on different hours. Everything for our customers.</p>
                        <a href="about.html" class="btn btn-motive"><span>Read More</span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type2 ct-u-marginBottom100">
                    <div class="h2 ct-iconBox-icon"><small><i class="fa fa-leaf"></i></small></div>
                    <div class="ct-iconBox-content">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--center">Environment friendly cars</h6>
                        <p>We like our planet so we take care of it. We have cars environmentally friendly.</p>
                        <a href="about.html" class="btn btn-motive"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
