@model RentACar.Data.Musteri
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="r-login-register">
    <div class="r-login-register">
        <div class="r-login-register-in">
            @if (TempData["Bilgi"] != null)
            {
                <div class="alert alert-success">@TempData["Bilgi"]</div>
            }
            <div class="clearfix">               
                <div>
                    @Html.ActionLink("Rezervasyonlarımı görüntüle", "Rezervasyonlarim", "Hesap", new { area = "" }, new { @class="btn btn-primary"})
                    <div class="r-auth-head">
                        <h2>Profiliniz</h2>
                    </div>
                    <div class="r-auth-form">
                        @using (Html.BeginForm("Duzenle", "Hesap", FormMethod.Post, new { @class = "comment-form" }))
                        {
                            <div class="form-group">
                                <label for="kategoriAdi">Adınız Soyadınız</label>
                                @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control", id = "AdSoyad", placeholder = "Ad Soyad" })
                            </div>
                            <div class="form-group">
                                <label for="kategoriUrl">Email adresiniz</label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "Email", placeholder = "Email" })
                            </div>

                            <div class="form-group">
                                <div class="r-accordion">
                                    <div class="r-accordion-heading">
                                        <span class="r-accordion-toggle">
                                            <i class="fa-arrow-circle-down fa"></i>
                                        </span>
                                        Şifremi değiştirmek istiyorum
                                    </div>
                                    <div class="r-accordion-body">
                                        <div class="form-group">
                                            <label for="kategoriUrl">Eski şifreniz</label>
                                            <input type="text" class="form-control" placeholder="Eski şifreniz" name="EskiSifre">

                                        </div>
                                        <div class="form-group">
                                            <label for="kategoriUrl">Yeni şifreniz</label>
                                            <input type="text" class="form-control" placeholder="Yeni şifreniz" name="YeniSifre">
                                        </div>
                                        <div class="form-group">
                                            <label for="kategoriUrl">Yeni şifreniz tekrar</label>
                                            <input type="text" class="form-control" placeholder="Yeni şifreniz tekrar" name="YeniSifreTekrar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-full">Değişiklikleri kaydet</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
