<footer>
    <div class="r-footer">
        <div class="container">
            <div class="row clearfix">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="r-footer-block">
                        <img src="assets/images/footer-logo.png" class="d-block img-fluid" alt="">
                        <p>
                            Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden turizm ve iş sektöründeki araç kiralama hizmetlerimizin kalitesi için dikkat çekiyor.
                        </p>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="r-footer-block">
                        <div class="r-footer-widget r-footer-phone">
                            <span><i class="fa fa-phone"></i> Bizi Arayın.</span>
                            <h5>0541 882 60 65</h5>
                        </div>
                        <div class="r-footer-widget r-footer-nav">
                            <h6>Önemli Linkler</h6>
                            <nav>
                                <ul>
                                    <li><a href="/Hesap/LoginRegister">Giriş yap</a></li>
                                    <li><a href="/Home/Iletisim">İletişim</a></li>
                                    <li><a href="/Home/Galeri">Galeri</a></li>
                                    <li><a href="/Home/Araclar">Tüm araçlar</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="r-footer-block">
                        <div class="r-footer-widget r-footer-phone">
                            <span><i class="fa fa-phone"></i> Bizi Arayın.</span>
                            <h5>541 882 6065</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row clearfix r-footer-strip">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    ©2018 Created by E.Sinem Hasırcıoğlu
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href="https://www.facebook.com/sinemhsrc"><i class="fa fa-facebook"></i>. <span>Facebook</span></a></li>
                        <li><a href="https://twitter.com/sinemhasirciogl"><i class="fa fa-twitter"></i>.<span>Twitter</span></a></li>
                        <li><a href="https://www.instagram.com/sinemhasircioglu/"><i class="fa fa-instagram"></i>.<span>Instagram</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>