<header>
    <div class="r-header r-header-inner r-header-strip-02">
        <div class="r-header-strip">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="r-logo">
                            <a href="#" class="d-inline-block"><img src="~/assets/images/footer-logo.png" class="img-fluid d-block" alt=""></a>
                        </div>
                        <a href="javaScript:void(0)" class="menu-icon"> <i class="fa fa-bars"></i> </a>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 pr-0">
                        <div class="r-header-action float-right">
                            <a href="login-register.html"> <i class="fa fa-lock"></i> <span>Giriş yap</span></a>                           
                        </div>
                        <div class="r-nav-section float-right">
                            <nav>
                                <ul>
                                    <li>
                                        @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Hakkımızda", "Hakkimizda", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Araçlar", "Araclar", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        <a href="car-list-map.html">Araçlar H</a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">Galeri</a>
                                    </li>
                                    <li>
                                        @Html.ActionLink("İletişim", "Iletisim", "Home", new { area = "" }, null)
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r-header-inner-banner">
            <div class="r-header-in-over">
                <h1>Royal Cars<b> bulunduğumuz sayfa</b> </h1>
                <div class="r-breadcrum">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><span>bulunduğumuz sayfa</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
