<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>Rent A Car- </title>

    <!--=== Bootstrap CSS ===-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--=== Slicknav CSS ===-->
    <link href="~/Content/plugins/slicknav.min.css" rel="stylesheet" />
    <!--=== Magnific Popup CSS ===-->
    <link href="~/Content/plugins/magnific-popup.css" rel="stylesheet" />
    <!--=== Owl Carousel CSS ===-->
    <link href="~/Content/plugins/owl.carousel.min.css" rel="stylesheet" />
    <!--=== Gijgo CSS ===-->
    <link href="~/Content/plugins/gijgo.css" rel="stylesheet" />
    <!--=== FontAwesome CSS ===-->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!--=== Theme Reset CSS ===-->
    <link href="~/Content/reset.css" rel="stylesheet" />
    <!--=== Main Style CSS ===-->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!--=== Responsive CSS ===-->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />


    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="assets/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->
    <!--== Header Area Start ==-->
    @Html.Partial("_Header")
    <!--== Header Area End ==-->

    @RenderBody()


    <!--== Footer Area Start ==-->
    @Html.Partial("_Footer")
    <!--== Footer Area End ==-->
    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="assets/img/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->
    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="~/Scripts/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="~/Scripts/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="~/Scripts/plugins/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="~/Scripts/plugins/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="~/Scripts/plugins/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="~/Scripts/plugins/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="~/Scripts/plugins/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="~/Scripts/plugins/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="~/Scripts/plugins/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="~/Scripts/plugins/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="~/Scripts/plugins/slicknav.min.js"></script>

    <!--=== Mian Js ===-->
    <script src="~/Scripts/main.js"></script>

</body>

</html>