
<div class="ct-slick ct-js-slick" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="false" data-touchMove="false" data-arrows="true" data-items="1">
    <div class="item" data-bg="./assets/images/demo-content/cars/bg-02.jpg">
        <div class="item-inner">
            <div class="ct-slick-image">
                <img class="animated" src="assets/images/demo-content/cars/slideImage-01.png" data-fx="bounceInLeft" data-time="50">
            </div>
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="600"><small>are you looking</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="850">for a cool car?</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="600">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1350"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1100"><span>Contact Us</span></a>
            </div>
        </div>
    </div>
    <div class="item" data-bg="./assets/images/demo-content/cars/bg-02.jpg">
        <div class="item-inner text-right pull-right">
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="500"><small>are you looking</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="750">for a cool car?</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="500">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1250"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1000"><span>Contact Us</span></a>
            </div>
            <div class="ct-slick-image">
                <img class="animated" src="assets/images/demo-content/cars/slideImage-02.png" data-fx="bounceInRight" data-time="50">
            </div>
        </div>
    </div>
    <div class="item" data-bg="./assets/images/demo-content/cars/bg-02.jpg">
        <div class="item-inner">
            <div class="ct-slick-image">
                <img class="animated" src="assets/images/demo-content/cars/slideImage-03.png" data-fx="bounceInLeft" data-time="50">
            </div>
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="600"><small>are you looking</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="850">for a cool car?</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="600">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1350"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1100"><span>Contact Us</span></a>
            </div>
        </div>
    </div>
    <div class="item" data-bg="./assets/images/demo-content/cars/bg-02.jpg">
        <div class="item-inner text-right pull-right">
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="500"><small>are you looking</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="750">for a cool car?</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="500">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1250"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1000"><span>Contact Us</span></a>
            </div>
            <div class="ct-slick-image">
                <img class="animated" src="assets/images/demo-content/cars/slideImage-04.png" data-fx="bounceInRight" data-time="50">
            </div>
        </div>
    </div>
</div>