@model RentACar.Data.Musteri
@{
    ViewBag.Title = "Giriş yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Giriş yap</h3>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            <div class="username">
                                <input type="text" placeholder="Email or Username" name="Email">
                            </div>
                            <div class="password">
                                <input type="password" placeholder="Password" name="Sifre">
                            </div>
                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-sign-in"></i> Log In</button>
                            </div>
                        }
                    </div>

                    <div class="login-other">
                        <span class="or">or</span>
                        <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Login With Facebook</a>
                        <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Login With Google</a>
                    </div>
                    <div class="create-ac">
                        <p>Don't have an account? <a href="register.html">Sign Up</a></p>
                    </div>
                    <div class="login-menu">
                        <a href="about.html">About</a>
                        <span>|</span>
                        <a href="contact.html">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>